[rf]
dl_freq = 2680000000
ul_freq = 2560000000

# If enabled, disables AGC
#rx_gain = 50 

# Default tx gain if UL power control disabled. 
#tx_gain = 50

[pcap]
enable = true
filename = /tmp/ue.pcap

[trace]
enable = false
phy_filename = /tmp/ue.phy_trace
radio_filename = /tmp/ue.radio_trace

[log]
phy_level = info
all_level = warning
all_hex_limit = 32
filename = /tmp/ue.log

[usim]
algo = milenage
op   = 63BFA50EE6523365FF14C1F45F88737D
amf  = 8000
imsi = 001010123456789
imei = 353490069873319
k    = 00112233445566778899aabbccddeeff

[expert]

# If positive, disables power control and fixes the PRACH tx gain
prach_gain = 60

# If positive, disables power control and fixes the PUSCH/PUCCH/SRS tx gain
ul_gain = 70

# Adds an offset to all UL gains calculated by power control
#ul_pwr_ctrl_offset = 0

# If RSSI sensor not found defines the default receiver chain gain used to compute UL 
# power control values. By default uses rx gain. 
#rx_gain_offset = 50

# Maximum number of turbo decoder iterations (default 4)
#pdsch_max_its       = 4

#sync_track_th       = 1.3 # must be > 1
#sync_track_avg_coef = 0.1 # must be 0..1

#sync_find_th         = 1.6
#sync_find_max_frames = 100

# Enables/Disables continuous transmission mode (Default enabled)
#continuous_tx = true

# Selects the number of PHY threads (maximum 4, minimum 1, default 2)
#nof_phy_threads = 2

