[rf]
dl_freq = 2680000000
ul_freq = 2560000000
rx_gain = 10
tx_gain = 10

[pcap]
enable = true
filename = /tmp/ue.pcap

[trace]
enable = false
phy_filename = /tmp/ue.phy_trace
radio_filename = /tmp/ue.radio_trace

[log]
rlc_level = debug
pdcp_level = debug
rrc_level = debug
nas_level = debug
gw_level = debug
all_level = warning
all_hex_limit = -1
filename = /tmp/ue.log

[usim]
imsi = 001010123456789
imei = 353490069873319
k    = 00112233445566778899aabbccddeeff
